#cabecalho {
    background-color: var(--cor-terciaria);
}
#button_menu {
    border: none;
}

.nav-link {
    font-size: 20px;
    margin: 0 0 0 5em;
    color: var(--cor-primaria);
}

#home_link_colocarcor {
    color: var(--cor-primaria);
}